<?xml version='1.0' encoding='utf-8'?>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Blame the Gods</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="page_styles.css" rel="stylesheet" type="text/css"/>
</head>
<body class="calibre">
<p class="block_24" id="id_Toc105296786"><span class="text_5">Chapter </span><span class="text_9">44</span></p>
<p class="block_14">Omar / Kinch</p>
<p class="block_27"><span class="text_7">~ </span><span class="text_8">Ithaca </span><span class="text_7">~</span></p>
<p class="block_16"> </p>
<p class="block_17">1:45 AM</p>
<p class="block_16"> </p>
<p class="block_18"><span id="id_Toc105331727"></span></p>
<p class="block_19"><span class="text_4">What did they discuss</span> as they passed the grand stone edifice of Trinity
    College and proceeded onwards towards Long Lane?</p>
<p class="block_20">The events of the day, the madness of religion, the politics of love, taxi queues and their curse
    upon the nation, loose women, looser men, a traveller’s soul, the late-night pint and the lack of options, the way
    the Guinness ripped through the gut like a tornado after a hard night’s drinking, yuppie wankers, the branding of a
    nation, strangers among us and us among them, absent fathers. </p>
<p class="block_21"> </p>
<p class="block_19">How did Kinch react to the aforementioned subjects?</p>
<p class="block_20">Evasively, awkwardly.</p>
<p class="block_21"> </p>
<p class="block_19">How did Omar proceed following this reaction?</p>
<p class="block_20">Cautiously, determinedly, with delicate precision. Sensing the aforementioned subject to be a vital
    influence on the boy’s personal journey, he probed, commented on his own lost son, suggested that to delve deeper,
    to find a resolution, might bring some peace to a troubled mind. He spoke of his own father’s death, the series of
    rumoured lovers that had filled his beautiful mother’s life, of the last man, Roberto, her Italian co-star, with
    whom she’d run away, his father’s desperation and self-imposed expiration. He counselled him to find the man in
    question and have it out with him because unanswered questions inject little darts of poison into a life until over
    time it withers away.</p>
<p class="block_21"> </p>
<p class="block_19">Did the young man agree with his suggestions?</p>
<p class="block_20">He acknowledged his advice and suggested that he might well do something about it sooner rather than
    later. He hinted that his situation was not the norm but acknowledged that if he was to embark on a new departure,
    certain elements of the past needed cleaning up. He commented that he saw life as a giant labyrinth, with an entry
    and an exit point, and innumerable twists and turns, each of which required a solution simply to advance. It was the
    motion that mattered. It gave one the impression of progress when, in fact, the walls remained tall, dark, and
    identical, no matter which turn was taken. </p>
<p class="block_20">Better to keep moving, to blur the images with the passage of time, as close to control as man could
    muster. And to Love — a moveable feast — as easily attached to one as another, a question of timing and convenience.
    Movement, therefore, within that sphere of experience, was also highly desirable. </p>
<p class="block_21"> </p>
<p class="block_19">Did Omar vary from his young acquaintance on such issues?</p>
<p class="block_20">He agreed wholeheartedly with the labyrinthine surmise but differed in his ultimate belief that it
    was all in the way one looked at a thing. It wasn’t the motion that gave the illusion of control, but the way in
    which a man chose to perceive his surroundings. He thought it not a bad idea at all to take a very long rest, and
    watch the world move around oneself. It reminded him of that building in Rome, the Pantheon. He once saw a
    documentary in which the two millennia that surrounded this august building were speeded up so that the giant
    pillared structure stood like a God — silent, majestic, masterful. The markets and cafés of Rome swirled around its
    feet. Faces, clothing, styles, transport, changed at warp speed, but the giant stone façade remained unchanged,
    calm, serene. It absorbed time through its granite skin and held it in its belly like an unborn child. Omar strived
    to be that solid, that silent within himself. As to love … while he indeed concurred that there were any number of
    possibilities wherein love could rest its weary head, his preferences did not even lie completely towards one sex or
    the other. Love should be treated as a newly born infant, nurtured and fed. This showed a greater depth of purpose
    than to simply chuck the baby out with the bathwater and start again.</p>
<p class="block_21"> </p>
<p class="block_30"> </p>
<p class="block_19">What direction did the two walkers take to arrive at Long Lane?</p>
<p class="block_20">Walking at a similar pace, the younger of the two tread the footpath with a heavier, more determined
    step. Turning right from Dame Street into Great George’s Street South, they passed several late-night bars, still
    heaving with determined revellers. Omar, a naturally cautious man, hesitated at each crossing light, while his
    younger friend launched straight ahead, glancing momentarily to make sure he was not to be unexpectedly transported
    to the next world by an overlarge vehicle. Slowing his pace somewhat for his hesitant acquaintance, Kinch was first
    to arrive at the corner of Kevin Street Lower. He turned right, forgetting that the knowledge of his eventual
    destination was something that should at least <i class="calibre3">appear</i> uncertain. </p>
<p class="block_20">Passing the literary ark of the people, the Dublin Public Library, they continued towards New Bride
    Street, where the spires of St. Patrick’s Cathedral rose like great metal spears into the night sky. </p>
<p class="block_20">The older man hurried his pace, caught up with his acquaintance, and declared surprise at the young
    man’s accurate knowledge of the lesser-known lanes and byways of Dublin. Kinch assured his companion that he and his
    actor colleagues frequently used Long Lane as a short and direct route between the legendary music establishment of
    Whelan’s Bar and the primary residences of many of the aforementioned actors in the Blackpitts. Omar affirmed that,
    indeed, he was aware that it was an area frequented by those of an artistic nature, owing to its low rents and
    old-world character.</p>
<p class="block_21"> </p>
<p class="block_19">How did Omar enter his abode at 7 Long Lane?</p>
<p class="block_20">He remembered that his house keys had probably resided on his kitchen table for the length of the
    day. Thus flummoxed, he turned to Kinch, who suggested that perhaps his wife might be in the habit of leaving a
    spare key — women being far more practical creatures — in a secret hiding place. Omar, certain it could not be so,
    indulged his young friend by raising the mounds of flowerpots that adorned the garden edge and looking underneath
    them. Lo and behold, there it was, shining like a golden star in the moonlight, a small key he knew immediately to
    be the key to his front door. He professed much surprise at the event but thanked his wife in her absence for her
    presence of mind. </p>
<p class="block_20"></p>
<p class="block_30"> </p>
<p class="block_19">What did Kinch perceive on entering the house?</p>
<p class="block_20">That the spacious living room was largely unchanged since his prompt exit yesterday afternoon. The
    man in front of him made a signal, finger to lips, and closed the door gently behind them. Omar noticed a lit candle
    over the fireplace and moved towards the marble surround. He bent low to blow softly against the light. It flickered
    for a second and died. He then beckoned silently for Kinch to follow him down the corridor and moved left into the
    kitchen. He flicked a switch. A dim light filled the small room. </p>
<p class="block_20">Kinch felt sick, claustrophobic, wished that he could reach over and open a window so that the sharp
    light of the moon would clear the space of his guilt. He glanced nervously at the stairs. She was a heavy sleeper,
    thank God. Needed to get out of there. Enough drama. But he did not. Instead, he sat at the glass table, and watched
    as the older man poked at the wood burner, threw some splinters into the dying embers to bring them to life. </p>
<p class="block_21"> </p>
<p class="block_19">What did the host do immediately upon entering the kitchen?</p>
<p class="block_20">He rummaged through a selection of CD’s that Flora had placed beside the hand-held stereo in the
    kitchen. Aware that the younger generation needed constant music accompaniment, he struggled to select something
    that he hoped would cast him in a favourable light with his younger companion. The choice at hand ran as follows:
    Victoria de Los Angeles “Sur les ailes du chant,” Debussy “Clair de Lune”, Chopin “Cello Sonata in G Minor”, Bob
    Dylan “Blood on the Tracks”, Christy Moore “Ride On”, Damien Rice “O”, This Mortal Coil “Song to the Siren”, and,
    much to Omar’s extreme mortification, Westlife “Greatest Hits”, which he promptly dropped behind the stereo lest he
    be accused of having purchased such an item. Although inclined towards Dylan and This Mortal Coil, he reckoned that
    Damien Rice would strike a more youthful and trendier note. Not sure how long Kinch would be keeping him company, he
    forwarded the disc to his favourite song, “I remember”, to strike the best possible opening note. </p>
<p class="block_21"> </p>
<p class="block_19">How did Kinch react to the choice of music?</p>
<p class="block_20">Not at all, which Omar took as passive encouragement, aware that a young man of Kinch’s musical
    interest would be incapable of refraining from derisive comment if the offending accompaniment was not to his
    taste. </p>
<p class="block_21"> </p>
<p class="block_19">What beverage did the host propose his guest?</p>
<p class="block_20">A Moroccan tea known locally as the du Hammam, a relaxing blend of green tea, rose petals, green
    date, and red fruits — something his mother had been in the habit of drinking before going to bed. The young man
    accepted, provided he could be given the number of the taxi to arrange transport to his house in Sandycove. The host
    gladly obliged, accessed the drawer of the wooden dresser, and searched for approximately twenty seconds before he
    spotted two cards belonging to taximen with whom he was well acquainted. He passed the cards to his guest, who
    called them posthaste, and spoke in a most hurried manner, urging the taximan, Bernard Carr — an old schoolfriend of
    Omar’s — to arrive as quickly as possible. </p>
<p class="block_21"> </p>
<p class="block_20">What did the host discuss with his guest while they waited for the taxi to arrive?</p>
<p class="block_20">He proposed a theory that he had been working on privately for quite a while. The fluxes of history
    being as they were, it was his observance that two strong waves of change were converging towards each other, the
    first being the advent of climate change and the second, the growing strength of Islam and its influence on the
    world, whether extremist or pacifist. It suited Planet Earth better if human society was, by its very nature,
    conformist, conservationist, minimalist, and based on the benefit of the ummah or the group at large, and not the
    individual. Unfortunately, it was when the individual was allowed to break free, apply his free will, and behave
    largely as he chose, that greed became the driving force and consumption its offspring, thus leading to the
    cannibalism of the host organism. </p>
<p class="block_20">So, in brief, Omar believed — much to his dismay — that the restoration of the order of nature and
    the natural conditions by which humans could optimally live on this earth, required, at this point in time, the
    conformist mentality of Islam (although preferably not the radical nature of some of its advocates). His biggest
    fear was that while conformism would save the planet, the forced application of it by dogma or dictator – not simply
    Islamic — would herd humanity into a slaughterhouse of its own making. This was the inevitability that this century
    would lay out before us for the good or the bad of it unless we were all wiped out by a deadly virus, in which case
    Mother Nature would have her revenge and who would blame her? Not, he stressed, that his theory was based on any
    inherent loyalty to the Islamic belief system; it was simply the pragmatic conclusion of a scientifically minded man
    who had read enough to know what was what. </p>
<p class="block_21"> </p>
<p class="block_19">How did Kinch react to such a dramatic suggestion?</p>
<p class="block_20">He respectfully declined to agree. Kinch was a believer in the chaos theory. As he saw it, although
    certain cycles of activity seemed to emerge over a long period of time, the random nature of events meant that each
    of these cycles differed in key ways, thus making accurate predictions of future events impossible. He did
    acknowledge that systems that exhibit mathematical chaos are deterministic and thus orderly in some sense. It was
    not a question of complete disorder — there was definitely an unexplainable element to the Universe, whether
    referred to as God or, for the more psychologically minded, the collective unconscious (Kinch’s personal favourite)
    — but once the chaotic nature of existence was acknowledged, predictability was a futile exercise. Thus, carpe diem,
    because the day is all there is.</p>
<p class="block_21"> </p>
<p class="block_19">Did the host acknowledge the difference of opinion gracefully?</p>
<p class="block_20">Most definitely.</p>
<p class="block_21"> </p>
<p class="block_19">What fragmented thoughts crossed Omar’s mind as Kinch continued to elaborate on his premise?</p>
<p class="block_20">The unbridled enthusiasm of youth. The vast and impossible conundrum of the universe. His wife’s
    lack of interest in all things scientific and questioning. By contrast, her unfettered need for sensual pleasure,
    which she seemed to find everywhere except in her own home. The overemphasis placed on the decline of the body, as
    opposed to the growth of wisdom and intellect — a most troubling tendency.</p>
<p class="block_21"> </p>
<p class="block_19">Had he given in to the quest for eternal youth?</p>
<p class="block_20">Only so far as travelling by foot whenever possible to avoid using the car and attending a weekly
    soccer session with his journalistic colleagues on the grounds of UCD.</p>
<p class="block_21"> </p>
<p class="block_19">What caused Omar to leave the room posthaste?</p>
<p class="block_20">A sudden explosive wave through his digestive system, indicating an immediate need to relieve
    himself.</p>
<p class="block_21"> </p>
<p class="block_19">How did Kinch react? </p>
<p class="block_20">He assured him that he was perfectly comfortable and picked up the February edition of <i
        class="calibre3">National Geographic</i>, which ran as follows: “Han Dynasty”, “Polar Bears”, “Phoenix Islands”,
    “Lost Inca Outpost”, “Fastest Monkeys”, “Carbon Cycle”. Omar hoped that would keep him happy and occupied. Damien
    Rice’s “Eskimo” played a melodious accompaniment to his literary explorations.</p>
<p class="block_21"> </p>
<p class="block_19">Did Omar peruse the pile of reading accompaniment while in the lavatory?</p>
<p class="block_20">No, he concentrated on passing the Guinness-fuelled movement. It stuck to his guts like glue.
    Although not wanting to reawaken the blinding pain of the bleeding pile he had suffered the week before, he strained
    with caution, aware that his guest awaited him. He eyed the shelf beside him for the tube of Scheriproct that he, no
    doubt, would have to make use of in the morning. Instead, his eye fell on a blue plastic wrapper, the brand DUREX
    clearly marked near the torn edge.<span class="text_10">He eyed</span> He knew what that meant, and although he was
    well aware that Flora was known to “entertain” while he was out at work, he couldn’t bear to have the hard evidence
    laid out before him. He searched for the paper roll — to no avail. Instead, he reached for the May edition of <i
            class="calibre3">Time</i> and tore off the front page. George Bush’s big head stared out at Omar. He glanced
    at the title, “MOMENT OF TRUTH: Does the president who led us into Iraq know how to lead us out?” For once he
    decided that an intellectual response was not appropriate and ran the page the length of his arse. This brought him
    considerable satisfaction.</p>
<p class="block_21"> </p>
<p class="block_19">What sight greeted Omar on the return to his kitchen?</p>
<p class="block_20">A vacant seat, the pages of the article on speedy monkeys open on the table, and a handwritten note
    propped against the still-full mug of tea. Disappointed that the taxi had clearly arrived in his absence, he picked
    up the note, expecting a brief thanks for his hospitality. </p>
<p class="block_21"> </p>
<p class="block_19">“Sorry Omar, I had to run. I know I’m a bloody coward, but I have something I have to tell you. I
    was too chicken to tell you to your face. I slept with your wife — several times. I know this will come as a
    complete shock. Honestly, I’m sorry! Please don’t take it out on her. With all the talk of clearing out the messes
    from the past and starting again, I just felt it was only right you should know. If you want to beat the shite out
    of me, I will be at the Ulysses ferry on the Dublin Docks at 7:15 AM. Probably not coming back. Sorry again!!
    Kinch.”</p>
<p class="block_32"> </p>
<p class="block_19">The respondent felt like he’d been hit in the guts with a hammer. Parallel waves of sadness and
    anger crashed within Omar like orchestral symbols. Damien Rice sang mournfully in the background about his Eskimo
    friend. He stabbed the stop button. His life was absurd enough without such an accompaniment. </p>
<p class="block_19">
<p class="block_32"> </p>
<p class="block_19">What reactions did he immediately consider against both parties?</p>
<p class="block_20">Murder — messy and resulting in more harm to his person than satisfaction achieved; a proper beating
    inflicted on both parties — same as above; divorce — upheaval on a scale that he was not prepared to accept;
    emotional retribution, chuck her out on her ear temporarily and threaten divorce even though his intentions lay
    elsewhere — oddly appealing; immediate destruction of her favourite thing, her violin — also very appealing but not
    in his nature to destroy beautiful things. </p>
<p class="block_35"> </p>
<p class="block_19">What did he find himself doing immediately after these reflections?</p>
<p class="block_20">Climbing the stairs towards the offending party. He observed her as she slept, the curves of her
    body wrapped around a white cotton sheet, her long hair a fluid wave sweeping across the sheets like a river flowing
    through sunlight. Accepting the inevitability of forgiveness, he removed his trousers and placed them on the chair
    to the left side of the bed. His posterior perched on the side of the bed, he removed his right sock, then his left,
    unbuttoned his shirt, and as always, climbed into bed, Dunnes white jocks forming the ever-appropriate barrier
    between him and behaviour no longer deemed acceptable by the woman he’d married. Despite such limitations, he bent
    to observe her in slumber. Her skin was pale, translucent. Her lashes long and dark. He kissed the soft skin of her
    haunches. He lay with his left side against her rump, the weight of the day dragging him slowly into sleep. Barely
    conscious of his surroundings, he felt her hand move towards him. She laid it cautiously on his bare skin, her
    fingers moving as gently as the wings of a moth. </p>
<p class="block_35"> </p>
<p class="block_19">Did such unexpected intimacy surprise him?</p>
<p class="block_20">Yes. </p>
<p class="block_35"> </p>
<p class="block_19">How did he respond?</p>
<p class="block_20">He allowed her hand to rest itself against him and followed his subconscious into the dark forgetfulness of sleep.</p>
<p class="block_35"> </p>
</body>
</html>
